<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.senthil.dirver1">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <activity
            android:name=".Activty.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activty.Dashboard"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activty.DRSList"
            android:label="@string/title_activity_drslist"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activty.Scanpickup"
            android:label="@string/title_activity_scanpickup"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activty.DRSHistory"
            android:label="@string/title_activity_drshistory"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activty.ScanDRS"
            android:label="@string/title_activity_sacn_drs"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activty.PickupList"
            android:label="@string/title_activity_pickup_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activty.PickupHistory"
            android:label="@string/title_activity_pickup_history"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EditProfile"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activty.Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activty.ForgotPassword"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Login"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activty.DeliveryUpdate"
            android:label="@string/title_activity_delivery_update"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>